In [ ]:
# Python set
# multiple data
# no duplicate
# mutable data type
# unordered

In [1]:
s={1,2,3,4,5,6,7,8,9}
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [2]:
s={"apple","ball","cat","apple"}
print(s)

{'ball', 'cat', 'apple'}

In [ ]:
# set does not support list ,dict, set inside set (mutable data type does not support)
# can update only
# not concatenate

In [4]:
a={1,2,3}
b={4,5,6}
# print(a+b)
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6}

In [6]:
u={"Ram","Gates","Nabin","Jobs","Bill","John","Shyam",'Sameer','Xyz',"abc"}
ms={"Ram","Shyam","Bill","Gates","John"}
apple={"Jobs","Ram","Nabin","Sameer"}
print("Common on both = ",ms.intersection(apple))
print("Union of both sets=",ms.union(apple))
print("Working only at ms=",ms-apple)#ms.difference(apple)
print("Working only at apple=",apple-ms)#apple.difference(ms)
print("Unemployed = ",u-ms.union(apple))

Common on both =  {'Ram'}
Union of both sets= {'Sameer', 'Nabin', 'Gates', 'Ram', 'Shyam', 'Jobs', 'John', 'Bill'}
Working only at ms= {'John', 'Shyam', 'Gates', 'Bill'}
Working only at apple= {'Sameer', 'Nabin', 'Jobs'}
Unemployed =  {'Xyz', 'abc'}

In [ ]:
# s={} this is empty dictionary
# s=set() this is empty set

In [11]:
s= set()
s.add("Apple")
s.add("Ball")
print(s)

{'Ball', 'Apple'}

In [13]:
s={"Apple","Ball"}
s.remove("Apple")
print(s)

{'Ball'}