In [ ]:
# # Python List
# list
# tuple
# dict
# set
# list features
#Multiple data
# duplicate
# indexing
# Mutable

In [1]:
a = ["Apple","Ball","Cat","Dog","Apple"]
b = [1,2,3,4,5,6,7,8,9,0]
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>

In [2]:
l = list()
l

[]

In [3]:
a = ["Apple","Ball","Cat","Dog","Apple"]
print(a[0])
print(a[0:4])
print(a[::2])
print(a[::-1])

Apple
['Apple', 'Ball', 'Cat', 'Dog']
['Apple', 'Cat', 'Apple']
['Apple', 'Dog', 'Cat', 'Ball', 'Apple']

In [4]:
a = [1,2,3,4,5,6]
b = [4,4,4]
c = a+b
print(c)

[1, 2, 3, 4, 5, 6, 4, 4, 4]

In [5]:
c = a[0] + b[0]
print(c)

5

In [6]:
a = [1,2,3,4,5,6]
print(a*2)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [7]:
# Mutable data type
a = [1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [8]:
a = [1,2,3]
a.insert(0,4)
a

[4, 1, 2, 3]

In [9]:
a = [1,2,3,4]
b = [0,0,0]
a.extend(b)
a

[1, 2, 3, 4, 0, 0, 0]

In [10]:
#Update
a = [1,2,3]
a[0] = 4
a

[4, 2, 3]

In [11]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    a.append(x)
    
print(a)

Enter n = 3
Enter x = 4
Enter x = 5
Enter x = 7
[4, 5, 7]

In [12]:
print("The maximum value = ",max(a))
print("The minimum value = ",min(a))
print("Sum = ",sum(a))
a.sort()
print(a)
a.reverse()
print(a)

The maximum value =  7
The minimum value =  4
Sum =  16
[4, 5, 7]
[7, 5, 4]

In [13]:
a = ["Ball",".apple","Zebra","Ant"]
a.sort()
print(a)

['.apple', 'Ant', 'Ball', 'Zebra']

In [2]:
# del remove() pop()
a = ['Apple', 'Dog', 'Cat', 'Ball', 'Apple']
del a[0]
print(a)

['Dog', 'Cat', 'Ball', 'Apple']

In [4]:
a = ['Apple', 'Dog', 'Cat', 'Ball', 'Apple']
a.remove("Dog")
a

['Apple', 'Cat', 'Ball', 'Apple']

In [5]:
a = ['Apple', 'Dog', 'Cat', 'Ball', 'Apple','Apple']
c = a.count('Apple')
for i in range(c):
    a.remove("Apple")
print(a)

['Dog', 'Cat', 'Ball']

In [8]:
a = ['Apple', 'Dog', 'Cat', 'Ball', 'Apple','Apple']
l = len(a)
for i in range(l):
      if a[i] == "Apple":
        print(i)

0
4
5

In [10]:
a = ['Apple', 'Dog', 'Cat', 'Ball', 'Apple','Apple']
b = a.pop(0)
print(a)
print(b)
print(a)

['Dog', 'Cat', 'Ball', 'Apple', 'Apple']
Apple
['Dog', 'Cat', 'Ball', 'Apple', 'Apple']

In [11]:
# search
a = ['Apple', 'Dog', 'Cat', 'Ball', 'Apple','Apple']
if "Apple" in a:
    print("Yes")
    print(a.count("Apple"))
else:
    print("No")

Yes
3

In [1]:
# list inside list (multi dimensional array)
l=list[[1,2,3],
      [4,5,6],
      [7,8,9]]
print (l)

list[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [3]:
l=list[["Ram",23,"Kathmandu"],
      ["Hari",22,"Pokhara"],
      ]
print (l)

list[['Ram', 23, 'Kathmandu'], ['Hari', 22, 'Pokhara']]

In [1]:
l=[]
n=int(input("Enter number = "))
for i in range(n):
    name=input("Enter name = ")
    age=input("Enter age = ")
    add=input("Enter address = ")
    l.append([name,age,add])
print(l)

Enter number = 2
Enter name = hari
Enter age = 34
Enter address = bharatpur
Enter name = geeta
Enter age = 32
Enter address = tandi
[['hari', '34', 'bharatpur'], ['geeta', '32', 'tandi']]

In [2]:
bill = []
all_total = 0
n = int(input("Enter n = "))

for i in range(n):
    name = input("Enter name of the product = ")
    price = float(input("Enter price of the product = "))
    qty = float(input("Enter quantity = "))
    total = price * qty
    bill.append([name,price,qty,total])
    all_total = all_total + total
    
print(["Product","Price","Qty","Total"])
print(bill)
print("All total price = ",all_total)

Enter n = 2
Enter name of the product = apple
Enter price of the product = 432
Enter quantity = 6
Enter name of the product = mango
Enter price of the product = 234
Enter quantity = 23
['Product', 'Price', 'Qty', 'Total']
[['apple', 432.0, 6.0, 2592.0], ['mango', 234.0, 23.0, 5382.0]]
All total price =  7974.0

In [4]:
# search in list
info = [['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Bhaktapur'], ['Hari', 89, 'Lalitpur']]
name = input("Enter name = ")
for i in info:
    if i[0] == name:
        print(i)

Enter name = Hari
['Hari', 89, 'Lalitpur']

In [5]:
info = [['Ram','Shyam','Hari'],
       [23,45,67],
       ['Kathmandu','Bhaktapur','Lalitpur']]
print(info)

[['Ram', 'Shyam', 'Hari'], [23, 45, 67], ['Kathmandu', 'Bhaktapur', 'Lalitpur']]

In [ ]:
#WAP to create and do CRUD list inside list like above
#WAP to create a matrix
# r = ?
# c = ?
# x =?