In [ ]:
#Dictionary
# -Multiple data
# -Duplicate data
# -Indexing
# -Mutable datatype

In [ ]:
# d = {<key>:<value>,<key>:<value>,...}

In [1]:
d = {'a':'Apple', 'b':'Ball', 'c':'Cat'}
print(d['a'])
print(d['c'])

Apple
Cat

In [2]:
# -Duplicate data but no key
d = {'a':'Apple', 'b':'Ball', 'c':'Cat','A':'Ant'}
print(d['a'])
print(d['c'])
print(d)

Apple
Cat
{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'A': 'Ant'}

In [3]:
len(d)

4

In [4]:
# d = dict()
d = {}
d['Ram'] = 9808778765
d['Shyam'] = 9808556543
d['Hari'] = 984555654
d

{'Ram': 9808778765, 'Shyam': 9808556543, 'Hari': 984555654}

In [6]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Entr phon = ")
    d[name] = phone
print(d)

Enter n = 3
Enter name = hari
Entr phon = 908899
Enter name = shyam
Entr phon = 8787889
Enter name = reeta
Entr phon = 876788
{'hari': '908899', 'shyam': '8787889', 'reeta': '876788'}

In [7]:
a = {'Ram': '9808778765', 'SHyam': '9808778765'}
a['Ram'] = 980887657
a

{'Ram': 980887657, 'SHyam': '9808778765'}

In [8]:
a = ['Ram','Shyam','Hari']
for i in a:
    print(i)

Ram
Shyam
Hari

In [9]:
#for only key
a = {'Ram': '9808778765', 'SHyam': '9808778765'}
for i in a:
    print(i)
#for value
a = {'Ram': '9808778765', 'SHyam': '9808778765'}
for i in a.values():
    print(i)
#for both
a = {'Ram': '9808778765', 'SHyam': '9808778765'}
for i in a.items():
    print(i)

Ram
SHyam
9808778765
9808778765
('Ram', '9808778765')
('SHyam', '9808778765')

In [10]:
# delete
a = {'Ram': '9808778765', 'SHyam': '9808778765'}
del a['Ram']
print(a)

{'SHyam': '9808778765'}

In [11]:
a = {'Ram': '980877876', 'SHyam': '9808778765'}
b = a.pop('Ram')
print(a)
print(b)

{'SHyam': '9808778765'}
980877876

In [12]:
a = {1:1,2:4,3:9}
print(a)

{1: 1, 2: 4, 3: 9}

In [13]:
a = {input("Enter name"):input("Enter phone")}
a

Enter namehari
Enter phone98899

{'hari': '98899'}

In [14]:
# list inside dict
a = {'Ram':[9845667654,9845676654],
    'Shyam':[9878776765,9808667876]}
print(a)

{'Ram': [9845667654, 9845676654], 'Shyam': [9878776765, 9808667876]}

In [15]:
a = {'name':['Ram','Shyam','Hari'],
    'ntc':[9865556543,9867665432,9867554365],
    'ncell':[9808778765,9808778754,9808445654]}
a

{'name': ['Ram', 'Shyam', 'Hari'],
 'ntc': [9865556543, 9867665432, 9867554365],
 'ncell': [9808778765, 9808778754, 9808445654]}

In [25]:
#list inside dict
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = input("Entr ntc phone no  = ")
    ncell = input("Enter ncell no = ")
    d[name] = [ntc,ncell]
print(d)

Enter n = 1
Enter name = ram
Entr ntc phone no  = 988909
Enter ncell no = 7876789
{'ram': ['988909', '7876789']}

In [2]:
d['ram']

KeyError: 'ram'

In [22]:
print("ntc no of Ram",d['Ram'][0])

KeyError: 'Ram'

In [27]:
# a = {'name':['Ram','Shyam','Hari'],
#     'ntc':[9865556543,9867665432,9867554365],
#     'ncell':[9808778765,9808778754,9808445654]}
# a
#list inside dict
d = {'name':[],'ntc':[],'ncell':[]}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc = input("Entr ntc phone no  = ")
    ncell = input("Enter ncell no = ")
    d['name'].append(name)
    d['ntc'].append(ntc)
    d['ncell'].append(ncell)

print(d)

Enter n = 1
Enter name = hari
Entr ntc phone no  = 9889
Enter ncell no = 6789
{'name': ['hari'], 'ntc': ['9889'], 'ncell': ['6789']}

In [28]:
d = {'name': ['Ram', 'Shyam'],
     'ntc': ['9856556543', '9856776546'], 
     'ncell': ['9808778765', '9808778765']}
print(d['name'][0])
print(d['ntc'][0])
print(d['ncell'][0])

Ram
9856556543
9808778765

In [31]:
d = {'name': ['Ram', 'Shyam'], 'ntc': ['9856556543', '9856776546'], 'ncell': ['9808778765', '9808778765']}

del d['name'][0]
del d['ntc'][0]
del d['ncell'][0]

In [32]:
# dict inside list
l = [{'name':'Ram','age':34,'address':'Kathmandu'},
    {'name':'Shyam','age':44,'address':'Bhaktapur'},
    {'name':'Hari','age':56,'address':'Lalitpur'}]

print(l)

[{'name': 'Ram', 'age': 34, 'address': 'Kathmandu'}, {'name': 'Shyam', 'age': 44, 'address': 'Bhaktapur'}, {'name': 'Hari', 'age': 56, 'address': 'Lalitpur'}]

In [33]:
print(l[2])

{'name': 'Hari', 'age': 56, 'address': 'Lalitpur'}

In [34]:
print(l[0]['name'])

Ram

In [35]:
for i in l:
    print(i)

{'name': 'Ram', 'age': 34, 'address': 'Kathmandu'}
{'name': 'Shyam', 'age': 44, 'address': 'Bhaktapur'}
{'name': 'Hari', 'age': 56, 'address': 'Lalitpur'}

In [36]:
l = ['Apple','Ball','Cat']
for i in l:
    print(i)

Apple
Ball
Cat

In [37]:
# dict inside list
l = [{'name':'Ram','age':34,'address':'Kathmandu'},
    {'name':'Shyam','age':44,'address':'Bhaktapur'},
    {'name':'Hari','age':56,'address':'Lalitpur'}]

print(l)

[{'name': 'Ram', 'age': 34, 'address': 'Kathmandu'}, {'name': 'Shyam', 'age': 44, 'address': 'Bhaktapur'}, {'name': 'Hari', 'age': 56, 'address': 'Lalitpur'}]

In [38]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    address = input("Enter address = ")
    info = {'name':name,'age':age,'address':address}
    l.append(info)
    
print(l)

Enter n = 1
Enter name = hari
Enter age = 32
Enter address = bharatpur
[{'name': 'hari', 'age': 32, 'address': 'bharatpur'}]

In [39]:
for i in l:
    print(list(i.values()))

['hari', 32, 'bharatpur']

In [40]:
# dict inside list
l = [{'name':'Ram','age':34,'address':'Kathmandu'},
    {'name':'Shyam','age':44,'address':'Bhaktapur'},
    {'name':'Hari','address':'Lalitpur'}]
for i in l:
    print(i)

{'name': 'Ram', 'age': 34, 'address': 'Kathmandu'}
{'name': 'Shyam', 'age': 44, 'address': 'Bhaktapur'}
{'name': 'Hari', 'address': 'Lalitpur'}

In [41]:
l = [{'name':'Ram','age':34,'address':'Kathmandu'},
    {'name':'Shyam','age':44,'address':'Bhaktapur'},
    {'name':'Hari','age':56,'address':'Lalitpur'}]
l[0]['phone'] = 9878776765
l

[{'name': 'Ram', 'age': 34, 'address': 'Kathmandu', 'phone': 9878776765},
 {'name': 'Shyam', 'age': 44, 'address': 'Bhaktapur'},
 {'name': 'Hari', 'age': 56, 'address': 'Lalitpur'}]

In [42]:
for i in l:
    print(list(i.values()))

['Ram', 34, 'Kathmandu', 9878776765]
['Shyam', 44, 'Bhaktapur']
['Hari', 56, 'Lalitpur']

In [43]:
l = [{'name':'Ram','age':34,'address':'Kathmandu'},
    {'name':'Shyam','age':44,'address':'Bhaktapur'},
    {'name':'Hari','age':56,'address':'Lalitpur'}]
for i in range(len(l)):
    l[i]['phone'] = input("Enter phone = ")
print(l)

Enter phone = 87788
Enter phone = 877889
Enter phone = 887898
[{'name': 'Ram', 'age': 34, 'address': 'Kathmandu', 'phone': '87788'}, {'name': 'Shyam', 'age': 44, 'address': 'Bhaktapur', 'phone': '877889'}, {'name': 'Hari', 'age': 56, 'address': 'Lalitpur', 'phone': '887898'}]

In [44]:
l = [['a','Apple'],['b','Ball'],['c','Cat']]
dict(l)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [1]:
# dictionary inside dictionary
d={1:{'name':'ram','age':34,'address':'kathmandu'},
  2:{'name':'shyam','age':32,'address':'bhaktapur'},
  3:{'name':'hari','age':36,'address':'lalitpur'}}
print(d)

{1: {'name': 'ram', 'age': 34, 'address': 'kathmandu'}, 2: {'name': 'shyam', 'age': 32, 'address': 'bhaktapur'}, 3: {'name': 'hari', 'age': 36, 'address': 'lalitpur'}}

In [3]:
d = {}
n = int(input("Enter n = "))
for i in range(1,n+1):
    symbol_no = input("Enter Symbol no = ")
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    address = input("Enter address = ")
    info = {'name':name,'age':age,'address':address}
    d[symbol_no] = info
    
print(d)

Enter n = 2
Enter Symbol no = 22
Enter name = hari
Enter age = 23
Enter address = bharat
Enter Symbol no = 111
Enter name = yyhj
Enter age = 23
Enter address = khsfsdf
{'22': {'name': 'hari', 'age': 23, 'address': 'bharat'}, '111': {'name': 'yyhj', 'age': 23, 'address': 'khsfsdf'}}

In [4]:
d = {1:{'name':'Ram','age':34,'address':'Kathmandu'},
    2:{'name':'Shyam','age':44,'address':'Bhaktapur'},
    3:{'name':'Hari','age':56,'address':'Lalitpur'}}

sn = int(input("Enter sn = "))
d[sn]

Enter sn = 1

{'name': 'Ram', 'age': 34, 'address': 'Kathmandu'}

In [5]:
d[0] = {'name':'Rama','age':34,'address':'Palpa'}
d

{1: {'name': 'Ram', 'age': 34, 'address': 'Kathmandu'},
 2: {'name': 'Shyam', 'age': 44, 'address': 'Bhaktapur'},
 3: {'name': 'Hari', 'age': 56, 'address': 'Lalitpur'},
 0: {'name': 'Rama', 'age': 34, 'address': 'Palpa'}}

In [6]:
del d[0]
print(d)

{1: {'name': 'Ram', 'age': 34, 'address': 'Kathmandu'}, 2: {'name': 'Shyam', 'age': 44, 'address': 'Bhaktapur'}, 3: {'name': 'Hari', 'age': 56, 'address': 'Lalitpur'}}

In [7]:
a = {1: {'name': 'Ram',
       'age': 34, 
     'address': {'per':'Kathmandu',
                 'temp':'Lalitpur'}}}
a[1]['address']['temp']

'Lalitpur'

In [8]:
# d.items()
l[0]['phone'] = "9878998765"
l

NameError: name 'l' is not defined

In [9]:
#No list , dict and set as key (list, dict and set are mutable)
d = {('a','A'):'Apple', 'b':'Ball', 'c':'Cat'}
d

{('a', 'A'): 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [ ]:
# d = {('Ram','Shyam'):9808778765}